.modalHomeWrap {
    width: 800px;
    text-align: center;
    position: relative; 
    background-size: 100%;
}


.img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: 10;
    position: relative;
}


@media (max-width: 1000px) {
    .modalHomeWrap {
        max-width: 100%;
        height: auto;
    }
}