.formWrap {
    width: 500px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 20px;
}

@media(max-width: 700px) {
    .formWrap {
        width: 90%;
    }
}