.container {
    margin: 20px 0px;
}

.input {
    border: 1px solid rgba(117, 117, 117, 0.61);
    padding: 5px 5px;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
}

.button {
    color: blue;
    font-weight: 700;
}