.list {
    overflow-y: scroll;
    height: 250px;
}

.list::-webkit-scrollbar {
    width: 0;
}

.inputWrap {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-wrap: wrap;
}

.input {
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(77, 72, 72);
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    resize: none;
    width: 90%;
    min-width: 280px;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
}

.buttonsWrap {
    margin-bottom: 10px;
}

.button {
    color: gray;
}