.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    grid-auto-rows: auto;
}

@media (max-width: 930px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0.5rem;
        grid-auto-rows: auto;
    }
}

@media (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 0.5rem;
        grid-auto-rows: auto;
    }
}

@media (max-width: 400px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 0.5rem;
        grid-auto-rows: auto;
    }
}