.main {
    background-color: rgb(61, 61, 61);
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    height: auto;
    z-index: 100;
    padding: 8px 10px;
}

@media (max-width: 700px) {
    .main {
        top: 40px;
    }
}