.chatBody {
    width: 500px;
    background-color: rgba(87, 87, 87, 0.479);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.messagesWrap {
    height: 500px;
    overflow-y: scroll;
}

.messages {
    min-height: 100%;
}

.messagesWrap::-webkit-scrollbar {
    width: 7px;
    background-color: inherit;
}
  
.messagesWrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
}

.addMessage {
    display: flex;
}
  
.textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    width: 100%;
    outline: none;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 15px;
}

@media (max-width: 800px) {
    .chatBody {
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .chatBody {
        padding: 10px;
    }
}