.item {
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgb(46, 45, 45);
    width: 300px;
    height: auto;
}

@media (max-width: 500px) {
    .item {
        max-width: 250px
    } 
}
 

@media (max-width: 350px) {
    .item {
        max-width: 200px
    } 
}
 

