.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.profileInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.nameInfo {
    margin-right: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    margin-right: 30px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.followInfo {
    font-weight: 500;
    color: rgb(179, 172, 172);
    font-size: 18px;
}

@media (max-width: 700px) {
    .avatar {
        margin-right: 10px;
    }
    .img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 600px) {
    .profileInfo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nameInfo {
        margin-right: 0;
        text-align: center;
    }
    .profile {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .avatar {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .nameInfo {
        margin-bottom: 5px;
    }
}